<header class="masthead text-white text-center" style="background-color:black;background-position: center;background-repeat: no-repeat;height:400px;margin-top:100px;background-image: url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80">
  <div class="container d-flex align-items-center flex-column" >
    <!-- Masthead Avatar Image-->

    <!-- Masthead Heading-->
    <h1 style="margin-top:-50px;" class="masthead-heading text-uppercase mb-0">Opleidingen die je vooruithelpen!</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-shield-alt"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Gemakkelijk - Personaliseren - Met privacy</p>
  </div>
</header>